/* ---------- VARIABLES ---------- */
:root {
    --blackborder: 2px dashed black;
    --margin-bottom: 100px;
    /* Colors */
    --jumbo-blue: #b4d0e7;
    --blue-btn: #0061ff;
    --wine: #671434;
    --designit: #a2d39b;
    --arizona: #61082b;
    --topps: #ff1c1c;
    --designit-grey: #f5f5f5;
    --wbr: #d5001f;
    --lonely-planet: #0d2481;
    --clear-channel: #ffd830;
}

/* ---------- RESET ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ---------- GENERAL ---------- */
body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.jumbo-container {
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
    /* debug */
    min-height: 500px;
    background-color: rebeccapurple;
    border: var(--blackborder);
}

.container {
    width: 60%;
    margin: 0 auto;
    max-width: 1100px;
    /* debug */
    border: var(--blackborder);
}

/* Utilities */
.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
}

header a, .button a, footer a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

hr {
    width: 20%;
}

.check {
    color: var(--blue-btn);
}

.text-align-right {
    text-align: right;
}

.small-text {
    font-size: .8rem;
}

.wine {
    color: var(--wine);
}
/* Buttons */
.button {
    display: inline-block;
    padding: 8px 15px;
    font-size: .8rem;
}

.button:hover {
    filter: brightness(120%);
}

.blue-button {
    background-color: var(--blue-btn);
    color: white;
}

.white-button {
    background-color: white;
    border: 1px solid black;
}

/* ---------- HEADER ---------- */
/* ----- Header top ----- */
.header {
    height: 80px;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background-color: white;
}

/* Header utilities */
.header-links {
    line-height: 80px;
}

.header-links ul {
    gap: 1.5rem;
}

.header-links .button.blue-button {
    display: inline;
}

/* ----- Jumbotron ----- */
.jumbotron {
    padding-top: 100px;
    background-color: var(--jumbo-blue);
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 50px;
}

/* Jumbotron utilities */
.jumbo-image {
    float: right;
}

.jumbo-description .button {
    margin: 30px 0;
}

.jumbo-description i {
    font-size: 3rem;
    margin: 3rem 0 10px;
}

/* ---------- MAIN ---------- */
/* ----- Subscription plans section -----*/
.subscription {
    margin: 100px 0 var(--margin-bottom);
    /* debug */
    min-height: 950px;
    /* background-color: cadetblue; */
}

.subscription h2 {
    margin-bottom: 2rem;
}

.billing label {
    margin-right: 2rem;
}

/* Subscription plans */
.subscription-plans {
    
    /* debug */
    min-height: 800px;
    /* background-color: blueviolet; */
}

/* Plans columns */
.plans {
    justify-content: space-between;
    margin-top: 2rem;
}

/* Plans */
.plan {
    border: 2px solid grey;
}

/* Plan type */
.plan-type {
    text-align: center;
    border-bottom: 2px solid grey;
    padding: .5rem;
}

/* Plan details */
/* Plan section utilities */
.plan-details {
    margin: 1.5rem;
}

.plan-details h3 {
    margin-bottom: 1rem;
}

.price {
    margin-bottom: .5rem;
}

.price-detail {
    color: grey;
}

.plan-features {
    margin: 2.5rem 0;
}

.plan-features ul {
    margin-bottom: 2.2rem;
}

.plan-features li, .plan-highlights li {
    margin: .8rem 0;
}

.plan-details .button {
    padding: 10px 2rem;
    margin-bottom: 1.5rem;
}

.plan-highlights {
    padding: 2rem 0;
}

/* Enterprise plan (horizontal plan) */
.enterprise-plan {
    margin-top: 2rem;
    border: 2px solid grey;
}

.enterprise-plan .price {
    margin-bottom: 3rem;
}

/* ----- Find a partner section ----- */
.find-partner {
    margin-bottom: var(--margin-bottom);
}

.partner-text {
    padding: 3rem 1rem;
}

.partner-text p {
    margin: 1rem 0 2rem;
}

/* ----- Dropbox Business section ----- */
.drop-business {
    margin-bottom: var(--margin-bottom);
}

/* Layout of the section */
.layout {
    padding: 40px 0;
}

/* Cards of the section */
.layout .col {
    width: calc(100% / 3 - (40px / 3));
    margin-bottom: 1rem;
}

.middle {
    margin: 0 20px 1rem;
}

.card h3 {
    margin-bottom: 1.5rem;
}

/* ----- Know more about our clients section ----- */
.business-teams {
    margin-bottom: var(--margin-bottom);
    padding-right: 2rem;
}

.business-teams h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

/* ----- Clients section ----- */
.clients {
    min-width: calc(100% / 3);
    /* debug */

    background-color: crimson;
    border: var(--blackborder);
}

.mid {
    overflow: auto;
}

/* Clients logos */
.logo {
    height: calc(100% / 2);
    width: calc(100% / 2);
    text-align: center;
    /* debug */
    border: var(--blackborder);
    background-color: cyan;
}

.logo img {
    filter: invert(100%);
    width: 150px;
}

/* ----- Call to action ----- */
.call-to-action {
    background-color: var(--jumbo-blue);
    padding: 50px 0;
    margin-bottom: var(--margin-bottom);
}

.cta {
    padding: 2rem 10rem;
}

.start-free-trial {
    padding: 2rem 0;
}

/* ----- FAQ ----- */
.faq {
    margin-bottom: var(--margin-bottom);
}

.faq h2 {
    margin-bottom: 50px;
}

.faq li {
    list-style-type: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px 0;
}

.faq li::after {
    content: icon;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: black;
    /* debug */
    min-height: 400px;
}

.footer-links {
    padding: 60px 0;
}

.links {
    width: calc(100% / 5);
    /* debug */
    min-height: 200px;
    background-color: hotpink;
    border: var(--blackborder);
}